# Dependencias principales de Django
Django==5.0.* # Usamos la versión 5.0 o la última estable de 5.x

# Base de datos PostgreSQL
psycopg2-binary==2.9.* # API REST y Serialización
djangorestframework==3.15.* # Autenticación JWT para la API
djangorestframework-simplejwt==5.3.* # Gestión de permisos CORS (Necesario para comunicación React <-> Django)
django-cors-headers==4.3.* # Filtrado avanzado de catálogo (Opcional, si implementamos django-filter después)
django-filter==24.2.*

## ⚙️ Procedimiento para el Uso

#Cuando necesites configurar el proyecto en un nuevo equipo o entorno, el proceso es simple

### 1. Clonar el Repositorio

#git clone https://github.com/Lautamendoza/DecoudColchones.git
#cd DecoudColchones